body {
    background-color: gray;
    color : aliceblue
}



footer {
    text-align: right;
    margin-top: 20px;
    padding: 10px;
}

.cardsHouse {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}